*/creds/
creds/chris.pem
creds/chriskeyaccess2.pem
train_dir
*/train_dir/
*.safetensors
*.pkl
*.pth
*.pth*.check_point
*.bin
*.tar          
*/runs/
*/runs_*
*/runs/*
*tfevents*
*vocab.txt
*config.json
*tokenizer.json
*tokens_map*
*special_token*
*trainer_state*
*spiece_model*

